@page "/chunk"
<PageTitle>LINQ Marbles - Chunk</PageTitle>

<PageContainer OperatorText="Chunk(2)">
    <InputPanel>
        @foreach (var marble in _marbles)
        {
            <Marble Color="marble.Color"
                    Close="@(() => _marbles.Remove(marble))">
                @marble.Number
            </Marble>
        }
        <AddMarble DefaultContent="5" OnAdd="AddNumber" T="int" />
    </InputPanel>
    <OutputPanel>
        @foreach (var marbles in _marbles.Chunk(2))
        {
            <div class="array">
                @foreach (var marble in marbles)
                {
                    <Marble Color="marble.Color">@marble.Number</Marble>
                }
            </div>
        }
    </OutputPanel>
    <ErrorPanel>
        <div>
            <Marble Color="Color.Error"><MudIcon Icon="@Icons.Material.Filled.ElectricBolt"></MudIcon></Marble>
        </div>
        <MudStack>
            <MudDivider/>
            <MudText Typo="Typo.h6" Inline="true">Exception:</MudText>
            <MudText Typo="Typo.subtitle1" Style="text-align: left">@context.Message</MudText>
        </MudStack>
    </ErrorPanel>
</PageContainer>

@code {
    private readonly List<MarbleNumberModel> _marbles = new()
    {
        new(1),
        new(3), 
        new(2), 
        new(4)
    };

    private void AddNumber(int number)
    {
        _marbles.Add(new MarbleNumberModel(number));
    }
}
