@page "/group-by"

<PageContainer OperatorText="GroupBy(o => o.Letter)">
    <InputPanel>
        @foreach (var marble in _marbles)
        {
            <Marble Color="marble.Color">@marble.Number,@marble.Content</Marble>
        }
        <Marble Color="@Color.Primary" Clicked="@(() => _showPopover = true)">
            <span>+</span>
            <MudPopover Open="@_showPopover" AnchorOrigin="Origin.BottomRight">
                <div class="d-flex flex-column">
                    <MudInput T="string" @bind-Value="@_content" 
                              AdornmentIcon="@Icons.Material.Filled.Add"
                              Adornment="Adornment.Start"
                              Required="true"
                              OnAdornmentClick="AddNewContent"/>
                </div>
            </MudPopover>
        </Marble>
    </InputPanel>
    <OutputPanel>
        <div class="centered-content">
            @foreach (var group in _marbles.GroupBy(g => g.Content))
            {
                <span class="array">
                    <MudText Inline="true" Typo="Typo.h5">@group.Key</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.ArrowCircleRight"/>
                    @foreach (var element in group)
                    {
                        <span class="array">
                            <Marble Color="element.Color">@element.Number,@element.Content</Marble>
                        </span>
                    }
                </span>
            }
        </div>
    </OutputPanel>
</PageContainer>

@code {
    private readonly List<MarbleMultiModel> _marbles = new()
    {
        new(1, "A"),
        new(2, "D"), 
        new(3, "A"), 
        new(4, "B")
    };
    
    private bool _showPopover;
    private string _content = "1,A";

    private void AddNewContent()
    {
        var split = _content.Split(',', StringSplitOptions.TrimEntries | StringSplitOptions.RemoveEmptyEntries);
        if (split.Length != 2)
        {
            return;
        }
        
        var number = int.Parse(split[0]);
        var content = split[1];
        
        _marbles.Add(new MarbleMultiModel(number, content));
    }
}
